annoy>=1.17.0
argparse>=1.4.0
bs4>=0.0.1
feedparser>=6.0.8
hnswlib
imageio
img2vec_pytorch
jsonlines>=3.0.0
librosa
matplotlib
nltk
numpy>=1.15
opencv-contrib-python
opencv-python
pandas
Pillow
pygtrie>=2.4.2
requests>=2.25.1
scikit-learn
scipy
selenium>=4.1.0
spacy
spacy-transformers
tqdm